# Possible values: local, staging, production, ci, testing, other
ENVIRONMENT=local

# IRC server identity
IRC_SERVER_NAME=irc.local
IRC_NETWORK_NAME=PHPIRC
IRC_SERVER_VERSION=phpirc-0.1.0

# TCP listener
LISTEN_ADDRESS=127.0.0.1
LISTEN_PORT=6667
